<div class="col-md-offset-4">
  <h3><strong>Update Employee</strong></h3>

  <%= render 'form' %>

  <%= link_to 'Show', @employee, class: "btn btn-info" %> 
  <%= link_to 'Back', employees_path, class: "btn btn-info" %>
</div>
