<% flash.each do |name, msg| -%>
  <% next if name == "success" %>

  <div class="alert alert-error my-alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4><%= "#{msg.titleize}" %>
  </div>
<% end -%>
